<div class="wrapper">
  <div id="feature-box">
    <h2>Buy Shared Hosting From $9.88/Year | Register Domain Name from $3.98/Year</h2>
    <p>
        Renewal price $38.88/year Hosting costs less than a domain! <strong>Get supercharged website hosting for under $10/first year and host up to 3 websites</strong>.
    </p>
    <p>
        <button><a target="_blank" href="namecheap-shared-hosting" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/shared.aspx?aff=65493';">Shared Hosting $9/Year only</a></button> <button><a href="register-domain-name" rel="nofollow" target="_blank" onmousedown="this.href='https://www.namecheap.com/domains/registration.aspx?aff=65493';">Register A Domain Name from $3.98/year</a></button>
    </p>
  </div>
</div>