<aside class="col col--4-of-12">
  <h3>NameCheap Hosting Offers</h3>
  <ul>
    <li>
      <a target="_blank" href="namecheap-shared-hosting" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/shared.aspx?aff=65493';">Shared Hosting <small>$9/Year only</small></a>
    </li>
    <li>
      <a target="_blank" href="namecheap-reseller-hosting" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/reseller.aspx?aff=65493';">ReSeller Hosting <small>$16.95/month</small></a>
    </li>
    <li>
      <a target="_blank" href="namecheap-vps-hosting" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/vps.aspx?aff=65493';">VPS Hosting <small>$19.95/month</small></a>
    </li>
    <li>
      <a target="_blank" href="namecheap-dedicated-servers" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/dedicated-servers.aspx?aff=65493';">Dedicated Servers <small>$58.88/month</small></a>
    </li>
    <li>
      <a target="_blank" href="namecheap-private-email-hosting" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/email.aspx?aff=65493';">Private Email Hosting <small>$9.88/Year</small></a>
    </li>
    <li>
      <a target="_blank" href="migrate-to-namecheap" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/hosting/hosting-migrate-to-namecheap.aspx?aff=65493';">Migrate To NameCheap <small>switch for free</small></a>
    </li>
  </ul>

  <h3>NameCheap Domain Names Offers</h3>

  <ul>
    <li>
      <a href="register-domain-name" rel="nofollow" target="_blank" onmousedown="this.href='https://www.namecheap.com/domains/registration.aspx?aff=65493';">Register A Domain Name from <small>$3.98/year</small></a>
    </li>
    <li>
      <a href="transfer-domain-name" rel="nofollow" target="_blank" onmousedown="this.href='https://www.namecheap.com/domains/transfer.aspx?aff=65493';">Transfer Domain Name <small>30% cheaper renewals</small></a>
    </li>
    <li><a href="premium-dns" target="_blank" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/security/premiumdns.aspx?aff=65493';">Premium DNS <small>$4.88 /Year</small></a></li>
    <li>
      <a href="free-dns" rel="nofollow" target="_blank" onmousedown="this.href='https://www.namecheap.com/domains/freedns.aspx?aff=65493';">Get <small>Free</small> DNS</a>
    </li>
    <li>
      <a href="ssl-certificate" target="_blank" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/security/ssl-certificates.aspx?aff=65493';">Get SSL Certificate <small>$1.99</small></a>
    </li>
    <li>
      <a href="free-who-is-guard" target="_blank" rel="nofollow" onmousedown="this.href='https://www.namecheap.com/security/whoisguard.aspx?aff=65493';">Get <small>Free</small> Who is Guard</a>
    </li>
  </ul>
</aside>